<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-sm btn-outline-success form-control">Add</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-sm btn-outline-primary form-control text-center">Back</a>
    </div>
</div>